html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    background-color: #FAFAFA;
}

*{
    margin: 0px;
    padding: 0px;
}

/** Head CSS **/

#head{
    background-color: #020509;
    position: relative;
    width: 100%;
    height: 46px;
    top:0px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

#loginSec #registo{
    display: inline;
}

#loginSec{
    position: absolute; 
    right: 0px;
    margin-top: 8px;
    margin-right: 4px;
}

#loginSec p{
    margin: 0px;
    color: white;
}

#loginSec .inputLog{    

}

#head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #020509;
}

#head li {
    float: left;
}

#head li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#head li a:hover:not(.active), .dropdown:hover .dropbtn{
    background-color: #ff0038;
}



#head .active {
    background-color: #4CAF50;
}

#head input{
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.button{
    background-color: #00c4cc;
    border: none;
    color: #ffffff;
    height: 30px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button:hover{
    background-color: #0CDDE7;
}

/** dropdown menu CSS**/
.dropdown {
    position: relative;
}

.drop-nav{
    display: none;
    position: absolute;
    z-index: 1;
    width: 160px;
}
.drop-nav li{
    width: 160px;
}

.drop-nav a {
    display: inline-block;
    width: 128px;
}

.dropdown:hover .drop-nav{
    display: block;

}


/** Form area CSS **/

section#form{  
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;     
}

#form input, textArea, select{
    display: block;
    margin-bottom: 15px;
    width: 280px; 

}

#formOferta img {
    margin: 20px;
    display: block;
    width: 100px;
    height: 100px;

}

#form form label{
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    font-weight: bold;

}

#form textarea{
    width: 280px;
    height: 180px;
    resize: none;
    overflow: auto;
}

#form input, textArea, select{
    background: #FAFAFA;
    border: 1px solid #303030;
    color: #303030;
    margin-left: 200px;
    padding: 5px;
    outline: none;
}

#form input:hover,#form textArea:hover,#form select:hover, #form input:focus,#form textArea:focus,#form select:focus{
    background: #E4E4E4;    
}

#form input.buttonForm{
    background-color: #00c4cc;
    border: none;
    color: #ffffff;
    height: 30px;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 270px;
    width: 150px;   
}

#form input.buttonForm:hover{
    background-color: #0CDDE7;     
}

.error{
    margin-left: 200px;
    color:red;
}

/*** Footer ***/

#foot{
    background-color: #020509;
    color: white;
    position: absolute;
    width: 100%;
    height: 35px;
    line-height: 2.2;
    text-align: center;
    bottom:0px;
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
}

